@model IEnumerable<Product>

@{
	ViewBag.Tilte = "Resutrant Menu Items";
}

<h2>Resutrant Menu Items</h2>

<div class="row">

	@foreach(Product prod in Model)
	{
		<div class="col-md-4">
				
			<form asp-action="Delete" asp-controller="Product" method="post">

				<input type="hidden" name="id" value="@prod.ProductId" />

				<div class="card" style="width: 18rem;">

					<img src="@Url.Content("~/images/" + prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description">

					<div class="card-body">
						<h5 class="card-title">@prod.Name</h5>
						<p class="card-text">@prod.Description</p>
						<p class="card-text">@prod.Price.ToString("C")</p>
						<p class="card-text">Quantity In Stock: @prod.Stock</p>
					</div>

				</div>

			</form>

		</div>
	}		
</div>